<app-navbar></app-navbar>
<main role="main" class="container">
  <h2>{{ title}}</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Release date</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let product of products">
        <th scope="row">{{product.productId}}</th>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.releaseDate}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.starRating}}</td>
      </tr>
    </tbody>
  </table>
</main>