.card-img-top{
    width:200px;
    padding-top: 3em;
    margin: auto !important;
}


.card-title{
	color: green;
	font-weight: bold;
}

select#search-button{
	background-color: transparent;
    border: 1px solid #ced4da;
    outline: none;
}