/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


footer.footer{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

body{
    font-family: 'Comic Neue', cursive;
}

.red{
    color: red;
}
button.facebook{
    margin-right: 2em;
    /* margin-bottom: 1em; */
}
